[submodule "Vendor/jansson"]
	path = Vendor/jansson
	url = https://github.com/akheron/jansson.git
[submodule "Vendor/boost"]
	path = Vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "Vendor/gtest"]
	path = Vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "Vendor/libpng"]
	path = Vendor/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "Vendor/zlib"]
	path = Vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "Modules/Assimp/Vendor/Assimp"]
	path = Modules/Assimp/Vendor/Assimp
	url = https://github.com/uberpixel/assimp.git
