[submodule "Vendor/jansson"]
	path = Vendor/jansson
	url = https://github.com/akheron/jansson.git
[submodule "Vendor/gtest"]
	path = Vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "Vendor/libpng"]
	path = Vendor/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "Vendor/zlib"]
	path = Vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "Modules/OpenAL/Vendor/openal-soft"]
	path = Modules/OpenAL/Vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Modules/SteamAudio/Vendor/libsoundio"]
	path = Modules/SteamAudio/Vendor/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "Modules/ENet/Vendor/enet"]
	path = Modules/ENet/Vendor/enet
	url = https://github.com/lsalzman/enet.git
[submodule "Modules/OpenVR/Vendor/OpenVR"]
	path = Modules/OpenVR/Vendor/OpenVR
	url = https://github.com/Slin/openvr.git
[submodule "Modules/Recast/Vendor/recast"]
	path = Modules/Recast/Vendor/recast
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "Vendor/SPIRV-Cross"]
	path = Vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "CMake/Toolchains/iOS"]
	path = CMake/Toolchains/iOS
	url = https://github.com/leetal/ios-cmake.git
[submodule "Tools/ShaderProcessor/Vendor/ShaderConductor"]
	path = Tools/ShaderProcessor/Vendor/ShaderConductor
	url = https://github.com/Slin/ShaderConductor.git
[submodule "Tools/TextureCompression/Vendor/astc-encoder"]
	path = Tools/TextureCompression/Vendor/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "Tools/TextureCompression/Vendor/nvidia-texture-tools"]
	path = Tools/TextureCompression/Vendor/nvidia-texture-tools
	url = https://github.com/castano/nvidia-texture-tools.git
[submodule "Modules/UI/Vendor/skia"]
	path = Modules/UI/Vendor/skia
	url = https://skia.googlesource.com/skia.git
