# OS junk files
[Tt]humbs.db
*.DS_Store
*.orig

# CLion
.idea/*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/misc.xml
.idea/dictionaries
.idea/serialmonitor_settings.xml

# CMake
/build/
/cmake-build-*
CMakeLists.txt.user

# Vulkan Renderer
/Modules/Vulkan/Sources/RNVulkanDispatchTable.cpp
/Modules/Vulkan/Sources/RNVulkanDispatchTable.h

# Modules
/Modules/UI/Vendor/skia
Modules/OculusMobile/Vendor/ovr_sdk_mobile_1
Modules/Oculus/Vendor/OculusSDK/
Modules/SteamAudio/Vendor/steamaudio
/Modules/PhysX/Vendor/PhysX-3.4
/Modules/PhysX/Vendor/PhysX-3.4-CMake
Modules/Newton/Vendor/newton-dynamics

# Build Folders
xcode-build
BUILD_VS
Modules/ODE/Vendor/BUILD
/Build-Xcode
/Build-iOS
/cmake-build-*
/Build-Xcode-UI
/Modules/UI/Vendor/depot_tools
/Modules/OculusAudio/Vendor/OculusAudio
/Modules/UI/Vendor/libskia/third_party
/Modules/UI/Vendor/libskia/include/third_party/vulkan
