[submodule "Vendor/jansson"]
	path = Vendor/jansson
	url = https://github.com/akheron/jansson.git
[submodule "Vendor/boost"]
	path = Vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "Vendor/gtest"]
	path = Vendor/gtest
	url = https://github.com/google/googletest.git
