# OS junk files
[Tt]humbs.db
*.DS_Store

# Xcode Project files
/xcuserdata/
/project.xcworkspace/xcuserdata/

# Visual Studio
*.[Oo]bj
*.user
*.aps
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Code::Blocks compiler output
bin/
obj/

# Library stuff
*.a
*.so
*.dll
xcuserdata
/DerivedData/
/Vendor/bullet/DerivedData/

# Misc
/Build/
